.busa {
  position:fixed;
  z-index:100000;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  max-height: 10em;
  min-height: 1em;
  z-index: 10000;
  line-height: 125%;
  font-size: 125%;
}

.busa a:link {
  color: lightblue;
}
.busa a:visited {
  color: lightpink;
}
.busa a:active {
  color: red;
}
.busa a:hover {
  color: lavender;
}

#busa-main div {
  height: 10em;
  z-index: 10000;
  top: 0px;
  left: 10px;
  background-color: 0xcccccc;
}

#busa-xtoggle {
  height: 2em;
  min-height: 2em;
  z-index: 10000;
}

#busa-toggle {
  height: 100px;
  width: 100px;
  z-index: 10000;
}

#busa-toggle div {
    padding: 1em;
}

#dont-panic {
  font-size: 500%;
  line-height: 150%;
  top: 0px;
  left: 10px;
  background-color: 0xcccccc;
}

#the-meaning {
  font-size: 500%;
  line-height: 150%;
}
